node_modules
etherscanArgs.js
artifacts
cache
temp
typechain
.openzeppelin/unknown-31337.json
.vscode
third-party
.env*
*.rej
*.orig
*.r1cs
*.sym
circuit_js
contracts/dummy/*verifier.sol
circuits/build
circuits/semaphore_constraints.json
circuits/semaphore_js/
test/java
generate_witness.js
witness_calculator.js
*_constraints.json
scripts/types/
